@property --property-name {
  syntax: "<color>";
  inherits: false;
  initial-value: #c0ffee;
}

@keyframes cursor-glow-color-anim {
  from {
    background-color: theme("colors.primary");
  }
  33% {
    background-color: theme("colors.accent");
  }
  66% {
    background-color: theme("colors.secondary");
  }
  to {
    background-color: theme("colors.primary");
  }
}

@keyframes cursor-glow-scale-anim {
  from {
    scale: 1;
  }
  33% {
    scale: 0.8;
  }
  66% {
    scale: 1.2;
  }
  to {
    scale: 1;
  }
}

@keyframes art-anim-pulsate {
  from {
    left: 0;
    transform: translateX(-100%) translateY(-50%);
  }
  to {
    left: 100%;
    transform: translateX(100%) translateY(-50%);
  }
}

@keyframes artsy-wobbly-text {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(30deg) rotateY(60deg) rotateZ(45deg);
  }
  40% {
    transform: rotateX(0deg) rotateY(-30deg) rotateZ(0deg);
  }
  60% {
    transform: rotateX(-45deg) rotateY(60deg) rotateZ(20deg);
  }
  80% {
    transform: rotateX(30deg) rotateY(60deg) rotateZ(-15deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@keyframes artsy-pulsating-text {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 1;
  }
}
